@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-grey-900: #D5E1EF;
    --clr-grey-700: #7D889E;
    --clr-blue-900: #3685FF;
    --clr-blue-800: #2C7DFA;
    --clr-blue-300: #1F314F;
    --clr-white: #FFFFFF;
}

html {
    background-color: var(--clr-grey-900);
    font-family: Outfit, Arial, sans-serif;
}

h1 {
    font-size: 22px;
    color: var(--clr-blue-300);
}

p {
    font-size: 15px;
    letter-spacing: 0.19px;
    color: var(--clr-grey-700);
}